# Created by .ignore support plugin (hsz.mobi)
# ignore everything in this directory
/*

# and these
.DS_Store

# but not these
!.gitignore
!/.htaccess
!_SASS/
!_JS/

# do not ignore components in development
!/assets/
!UserExtra/
!SchoolRating/
!/core/composer.lock
!/core/composer.json
