@font-face {
	font-family: SegoeUIRegular;
	src: url(../fonts/SegoeUIRegular.eot);
	src: url(../fonts/SegoeUIRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUIRegular.woff) format('woff'), url(../fonts/SegoeUIRegular.ttf) format('truetype'), url(../fonts/SegoeUIRegular.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: SegoeUIBold;
	src: url(../fonts/SegoeUIBoldf.eot);
	src: url(../fonts/SegoeUIBold.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUIBold.woff) format('woff'), url(../fonts/SegoeUIBold.ttf) format('truetype'), url(../fonts/SegoeUIBold.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: SegoeUISemiBold;
	src: url(../fonts/SegoeUISemiBold.eot);
	src: url(../fonts/SegoeUISemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUISemiBold.woff) format('woff'), url(../fonts/SegoeUISemiBold.ttf) format('truetype'), url(../fonts/SegoeUISemiBold.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: SegoeUIItalic;
	src: url(../fonts/SegoeUIItalic.eot);
	src: url(../fonts/SegoeUIItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUIItalic.woff) format('woff'), url(../fonts/SegoeUIItalic.ttf) format('truetype'), url(../fonts/SegoeUIItalic.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: SegoeUILight;
	src: url(../fonts/10393.eot);
	src: url(../fonts/10393.eot?#iefix) format('embedded-opentype'), 
	url(../fonts/10393.woff) format('woff'), 
	url(../fonts/10393.ttf) format('truetype'), 
	url(../fonts/10393.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'DSEraserCyr';
	src: url(../fonts/ds_eraser_cyr.eot);
	src: url(../fonts/ds_eraser_cyr.eot?#iefix) format('embedded-opentype'), 
	url(../fonts/ds_eraser_cyr.woff) format('woff'), 
	url(../fonts/ds_eraser_cyr.ttf) format('truetype'), 
	url(../fonts/ds_eraser_cyr.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: Chalk;
	src: url(../fonts/chalk.eot);
	src: url(../fonts/chalk.eot?#iefix) format('embedded-opentype'), 
	url(../fonts/chalk.woff) format('woff'), 
	url(../fonts/chalk.ttf) format('truetype'), 
	url(../fonts/chalk.svg#proxima_nova_rgbold) format('svg');
	font-weight: 400;
	font-style: normal
}
* {
	box-sizing: border-box
}
a {
	color: #000
}
a:hover, a:focus {
	text-decoration: none
}
:focus {
	outline: 0 !important
}
img {
	max-width: 100%
}
p {
	margin-bottom: 0
}
.reg {
	font-family: SegoeUIRegular
}
.bold {
	font-family: SegoeUIBold
}
.it {
	font-family: SegoeUIItalic
}
.sbold {
	font-family: SegoeUISemiBold
}
body {
	color: #00202C;
	font-family: SegoeUIRegular;
	background: #e9e9e9
}
.grey_bg {
	background: #e9e9e9
}
.logo {
	display: block;
	padding-top: 2px;
	color: #e9e9e9;
	background: url(../images/logo.png) no-repeat top left;
	font-size: 15.4px;
	height: 41px;
	-webkit-background-size: 47px;
	     -o-background-size: 47px;
	        background-size: 47px;
}
.logo p {
	padding-left: 50px;
	line-height: 1em
}
.logo p:first-child {
	font-family: SegoeUIBold;
	text-transform: uppercase
}
.logo small {
	font-size: 11.5px
}
.transition {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
header {
	background: #00202c;
	padding: 11px 0
}
header nav ul {
	margin: 5px 0 0 -10px
}
header nav ul li a {
	font-size: 16px;
	color: #e9e9e9;
	border-bottom: 2px solid #75858b;
	display: inline-block;
	margin: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
header nav ul li a:hover {
	color: #00aef0;
	border-color: transparent
}
.cabinet_in {
	text-align: right
}
.cabinet_in .person, .cabinet_in .logout {
	color: #00aef0;
	border-bottom: 2px solid #026489;
	font-size: 16px;
	display: inline-block;
	position: relative;
	margin-top: 6px;
	margin-right: 38px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.cabinet_in .person {
	margin-right: 10px
}
.cabinet_in .logout {
	border-bottom: none
}
.cabinet_in .logout:after {
	content: "";
	position: absolute;
	top: -2px;
	right: -38px;
	width: 27px;
	height: 27px;
	background: url(../images/all.png) no-repeat;
	background-position: -58px -154px
}
.cabinet_in .person:hover, .cabinet_in .person:focus, .cabinet_in .logout:hover, .cabinet_in .logout:focus {
	color: #ffbf06;
	border-color: transparent
}
.cabinet_in .person:hover:after, .cabinet_in .person:focus:after, .cabinet_in .logout:hover:after, .cabinet_in .logout:focus:after {
	background-position: 0 -268px
}
.cabinet_out {
	text-align: right;
	margin: 5px 0
}
.cabinet_out a {
	color: #FFF;
	font-size: 16px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.cabinet_out a:hover {
	color: #00aef0
}
.cabinet_out .enter {
	padding-left: 20px;
	margin-right: 20px;
	position: relative
}
.cabinet_out .enter:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../images/all.png) no-repeat;
	width: 15px;
	height: 15px;
	background-position: 0 -236px
}
.cabinet_out .enter:hover:before, .cabinet_out .enter:focus:before {
	background: url(../images/i.png) no-repeat
}
.shadow {
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15)
}
.options_block {
	background: url(../images/bg_top1.png) no-repeat top center;
	padding: 20px 0
}
.options_block .options {
	background: #FFF;
	max-width: 585px;
	padding: 15px 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15)
}
.options_block .options ul {
	margin-bottom: 0
}
.options_block .options ul li {
	margin-right: 5px
}
.options_block .options ul li a {
	font-size: 20px;
	position: relative;
	padding-left: 35px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.options_block .options ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: url(../images/all.png) no-repeat
}
.options_block .options ul li a:hover, .options_block .options ul li a:focus {
	color: #00aef0
}
.options_block .options ul li:last-child {
	margin-right: 0
}
.options_block .options ul .grade_li a:before {
	background-position: -10px -154px
}
.options_block .options ul .event_li a:before {
	background-position: -96px -151px
}
.options_block .options ul .profile_li a:before {
	background-position: 1px -198px
}
.options_block #custom-search-input {
	margin: 10px 0
}
#custom-search-input {
	padding: 3px;
	border-radius: 4px;
	background-color: #fff;
	max-width: 300px;
	font-family: SegoeUIItalic
}
#custom-search-input input {
	border: 0;
	box-shadow: none;
	font-size: 16px
}
#custom-search-input a.btn {
	margin: 2px 0 0;
	background: 0 0;
	box-shadow: none;
	border: 0;
	color: #919191;
	padding: 0 8px 0 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
#custom-search-input a.btn:hover {
	border: 0;
	box-shadow: none;
	color: #00aef0
}
#custom-search-input .glyphicon-search {
	font-size: 23px
}
.brad {
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.info_block {
	padding: 40px 0
}
.card {
	height: 360px;
	max-width: 100%;
	width: 370px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	padding: 45px 35px;
	background: #FFF;
	margin: 0 auto 15px;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15)
}
.card .title {
	font-family: SegoeUIBold;
	font-size: 28px;
	position: relative;
	padding-top: 30px;
	line-height: 1.1em;
	margin-bottom: 25px
}
.card .title:before {
	content: "";
	position: absolute;
	background: url(../images/all.png) no-repeat;
	width: 30px;
	height: 30px;
	background-position: -154px -67px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto
}
.soon_card {
	background: url(../images/banner1_bg.png) no-repeat top center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.soon_card p {
	font-size: 18px
}
.soon_card p.date {
	font-size: 28px;
	margin-top: 30px;
	font-family: SegoeUIBold
}
.soon_card p.date small {
	display: block;
	font-size: 18px
}
.underline_link {
	border-bottom: 2px solid #5f737b;
	padding-bottom: 0;
	line-height: 1.3em;
	display: inline-block !important;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.p17{
	padding: 10px 17px;
}
.underline_link:hover {
	color: #00aef0 !important;
	border-color: transparent
}
.grade_card {
	background: url(../images/hand.png) no-repeat #fff;
	background-position: -10px 0;
	padding: 45px 20px
}
.grade_line {
	margin-bottom: 10px;
	background: #e9e9e9;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	padding: 5px 17px 0
}
.grade_line a,
.grade_line >p:first-child {
	border-bottom: 1px solid #00202c;
	font-size: 14px;
	overflow: hidden;
	width: 100%;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.3em
}
.attainment_block .grade_line a,
.attainment_block  .grade_line >p:first-child{
	border-bottom: none;
	margin-bottom: 10px;
}
.grade_line .bottom {
	display: inline-block;
	width: 100%;
	text-align: left
}
.grade_line .bottom .left {
	float: left
}
.grade_line .bottom .left p {
	display: inline-block;
	font-family: SegoeUIBold;
	font-size: 28px;
	line-height: 1.1em;
	margin-right: 3px
}
.grade_line .bottom .left .stars {
	display: inline-block
}
.grade_line .bottom .left .stars span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/all.png) no-repeat;
	background-position: -227px -67px
}
.grade_line .bottom .left .stars span.active {
	background: url(../images/all.png) no-repeat;
	background-position: -204px -67px
}
.grade_line .bottom .date {
	float: right;
	font-size: 12px;
	color: #5E5E5E;
	margin-top: 7px
}
.grade_card a.underline_link {
	font-size: 20px;
	color: #0c4054;
	margin-top: 5px
}
.img_round {
	-webkit-border-radius: 100%;
	border-radius: 100%
}
 .event_card1 {
	padding: 30px 20px 0;
	position: relative;
	overflow: hidden
}
.event_card1 .img_wrap {
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin: auto
}
.event_card1 .title1 {
	font-family: SegoeUIBold;
	font-size: 20px;
	line-height: 1.05em;
	margin-top: 7px
}
 .event_card1 .title1 a {
	color: #0c4054
}
.event_card1 .title1 span {
	display: block;
	font-size: 60px;
	line-height: 1em
}
.event_card1 .rating_line {
	position: absolute;
	bottom: -9px;
	left: 40px;
	right: 0;
	margin: auto
}
 .event_card1 .rating_line span {
	width: 30px;
	margin: 0 3px;
	display: inline-block;
	background: #a4e6ff
}
.event_card1 .rating_line span.active {
	background: #00aef0
}
 .event_card1 .rating_line .count {
	display: inline-block;
	color: #00aef0;
	font-family: SegoeUIBold;
	font-size: 28px;
	position: relative;
	top: -35px
}
.reg_banner {
	background: url(../images/reg_banner.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-border-radius: 5px;
	padding: 70px 30px 90px;
	margin: 35px 0 20px;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	width: 100%
}
.reg_banner .text {
	font-size: 18px;
	text-transform: uppercase;

	font-family: SegoeUISemiBold;
}
.reg_banner .text {
	float: right;
	text-align: center;
	width: 585px
}
.reg_banner img {
	display: block;
	margin: 25px auto
}
.reg_banner p {
	font-family: DSEraserCyr;
	text-transform: uppercase;
	font-size: 18px
}
.reg_banner p.title {
	font-size: 64px;
	line-height: 1.2em;
	font-family: Chalk
}
.reg_banner .btn_dark {
	width: 270px;
	max-width: 100%;
	color: #FFF;
	margin-top: 20px
}
h2 {
	font-size: 40px;
	text-align: center;
	color: #012837;
	margin-bottom: 25px
}
.event_card {
	background: #FFF;
	margin: 5px auto 25px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 0;
	overflow: hidden;
	max-width: 470px;

	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15)
}
.event_pic{
	height: 470px;
	width: 100%;
	background-position: top center !important;
	-webkit-background-size: 100% 100% !important;
	     -o-background-size: 100% 100% !important;
	        background-size: 100% 100% !important;
}
/*// .event_card img {
// 	height: 340px;
// 	width: 100%
// }*/
.event_card .event_title {
	padding: 15px 25px;
	height: 66px
}
.event_card .event_title a {
	padding-bottom: 1px;
	font-size: 20px;
	font-family: SegoeUIBold;
	color: #0c4054;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: inline-block;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.event_card .event_title a span{
	border-bottom: 2px solid #2f4953;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.event_card .event_title a:hover {
	color: #00aef0;
	border-color: transparent
}
.event_card .event_title a:hover span{
	border-color: transparent
}
.event_card .bottom {
	background: #e9e9e9;
	padding: 15px 25px;
	display: inline-block;
	width: 100%
}
.event_card .bottom p {
	display: inline-block;
	font-size: 14px;
	color: #5e5e5e
}
.event_card .bottom .place {
	text-decoration: underline;
	margin-right: 5px;
	max-width: 65%;
	min-width: 130px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
}
.event_card .bottom .date {
	float: right;
	font-family: SegoeUIBold;
	color: #00202c;
	margin-right: 0
}
.event_card .bottom .level {
	position: relative;
	padding-left: 30px
}
.event_card .bottom .level:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../images/all.png) no-repeat;
	top: 0;
	left: 0
}
.event_info .time_info .local:before,
.event_card .bottom .local:before {
	width: 30px;
	height: 31px;
	top: -4px;
	left: -5px;
	background-position: -199px 3px;
	-webkit-background-size: 225px;
	-o-background-size: 225px;
	background-size: 225px;
}
.event_info .time_info .fed:before,
.event_card .bottom .fed:before {
	background-position: -267px -64px
}
.event_info .time_info .reg:before,
.event_card .bottom .reg:before {
	background-position: -152px -116px
}
.event_info .time_info .local:before {
	top: 0;
}
.event_info .time_info .fed:before,
.event_info .time_info .reg:before {
	top: 4px;
}
.events_block, .bg_pattern {
	background: url(../images/bg_pattern.png) repeat;
	padding: 8px 0
}
.btn_dark {
	background: #00202c;
	color: #0E1E35;
	font-size: 14px;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
	padding: 0 30px
}
.news_block {
	padding: 25px 0
}
.news_block h2 {
	text-align: left
}
.news_block .galley_block {
	position: relative;
	margin: 15px 0;
	max-width: 570px
}
.news_block .galley_block img {
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.news_block .galley_block .left {
	float: left;
	width: 65%
}
.news_block .galley_block .left>img {
	width: 100%;
	margin-bottom: 25px;
	display: block
}
.news_block .galley_block .left div img {
	width: 170px;
	height: 100px
}
.news_block .galley_block .left div .all_photo {
	display: inline-block;
	position: relative;
	text-align: center
}
.news_block .galley_block .left div .all_photo:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 32, 44, .5);
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.news_block .galley_block .left div .all_photo p {
	height: 20px;
	font-size: 18px;
	font-family: SegoeUIBold;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center
}
.news_block .galley_block .left div .all_photo p a {
	color: #FFF;
	border-color: rgba(255, 255, 255, .8);
	line-height: 1.1em
}
.news_block .galley_block .right {
	width: 30%;
	float: right
}
.news_block .galley_block .right img {
	height: 320px
}
.text-center h2 {
	text-align: center
}
.news_card {
	background: #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	height: 200px;
	position: relative;
	overflow: hidden;
	padding: 25px;
	max-width: 263px;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	margin: 4px auto 20px
}

.news_card:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 15px solid #00aef0;
	border-left: 15px solid transparent
}
.news_card p {
	line-height: 1.4em !important
}
.news_card .date {
	font-family: SegoeUIItalic;
	color: #5E5E5E;
	margin-bottom: 6px
}
.news_card .title {
	color: #0c4054;
	font-family: SegoeUIBold;
	font-size: 18px;
	height: 46px;
	overflow: hidden;
	display: inline !important;
	line-height: 1.2em
}
.news_card .preview {
	height: 65px;
	overflow: hidden;
	margin-top: 13px;
	position: relative
}
.news_card:hover, .news_card:focus {
	background: #F0FBFF;
	color: initial
}
.news_card:hover .title, .news_card:focus .title {
	color: #00aef0;
	border-color: transparent
}
.video_block {
	position: relative;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 15px 0;
	max-width: 570px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}
.video_block:hover .video_description {
	opacity: 0;
	height: 0;
	overflow: hidden
}
.video_block .video {
	width: 100%;
	height: 320px;
	background: #ccc;
	position: relative
}
.video_block .video iframe {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%
}
.video_block .video_description {
	position: absolute;
	width: 100%;
	height: 320px;
	top: 0;
	left: 0;
	background: rgba(0, 174, 239, .5);
	color: #fff;
	text-align: center;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}
.video_block .video_description .descr_wrap {
	height: 205px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 400px
}
.video_block .video_description p {
	font-family: SegoeUIBold;
	font-size: 18px
}
.video_block .video_description .play {
	background: url(../images/all.png) no-repeat;
	width: 124px;
	height: 124px;
	background-position: -10px -10px;
	margin: 10px auto 20px
}
footer {
	background: #00202c;
	padding: 54px 0 95px
}
footer * {
	color: #fff
}
footer .logo {
	margin-bottom: 35px
}
footer .rules {
	font-size: 12px;
	color: #658895;
	max-width: 254px;
	line-height: 1.8em
}
footer .cright {
	max-width: 254px;
	color: #e9e9e9;
	margin-bottom: 15px
}
footer nav ul li a {
	border-bottom: 2px solid #809096;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 14px;
	line-height: 1.3em;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
footer nav ul li a:hover {
	color: #00aef0;
	border-color: transparent
}
footer .footer_menu {
	margin-left: -15px
}
footer .footer_menu li {
	margin-bottom: 15px
}
footer .footer_menu li a {
	color: #658895;
	border-bottom: 2px solid #335461;
	display: inline;
	line-height: 1.3em;
	font-size: 16px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
footer .footer_menu li a:hover {
	color: #00aef0;
	border-color: transparent
}
.social_list {
	text-align: right
}
.social_list li {
	padding-left: 0;
	padding-right: 0
}
.social_list li a {
	width: 40px;
	height: 40px;
	margin: 1px;
	background: url(../images/all.png) no-repeat;
	display: block
}
.social_list .vk a {
	background-position: -154px -10px
}
.social_list .inst a {
	background-position: -207px -8px
}
.social_list .fb a {
	background-position: -256px -8px
}
.footer_links .phone {
	color: white;
	display: block;
	font-size: 18px
}
.footer_links .mail {
	text-decoration: underline;
	color: #00aef0;
	font-size: 14px
}
.footer_links .mail:hover {
	border-color: transparent;
	color: #ffbe06
}
.more_items {
	font-size: 16px;
	text-align: center;
	color: #012837;
	height: 75px;
	line-height: 75px;
	padding: 0 30px;
	background: #d8d8d8;
	display: block;
	margin: 40px 0 5px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.more_items:hover {
	background: #b6b6b6;
	color: #012837
}
img.rounded_img {
	-webkit-border-radius: 3px;
	border-radius: 3px
}
.bnt_custom {
	text-align: center;
	line-height: 60px;
	padding: 0 30px;
	font-size: 16px;
	height: 60px
}
.blue_btn {
	color: #FFF;
	background: #00aef0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.blue_btn:hover {
	color: #fff;
	background: #008cce
}
.event_section .blue_btn {
	width: 100%;
	max-width: 470px;
	display: block;
	margin: 50px auto 30px
}
.event_section .event_img {
	margin-top: 35px
}
.btn-sm {
	height: 30px;
	line-height: 28px;
	padding: 0 20px
}
.event_info h2 {
	text-align: left
}
.event_info .time_info {
	display: inline-block;
	width: 100%;
	margin: 5px 0 30px
}
.event_info .time_info p {
	font-size: 14px;
	color: #999;
	position: relative;
	padding: 5px 0;
}
.event_info .time_info p:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../images/all.png) no-repeat
}
.event_info .time_info .date {
	float: left;
	padding-left: 45px
}
.event_info .time_info .date:before {
	top: 5px;
	width: 27px;
	background-position: -148px -154px
}
.event_info .time_info .time {
	float: right;
	padding-left: 38px;
	margin-right: 55px
}
.event_info .time_info .time:before {
	top: 5px;
	background-position: -195px -154px
}
.event_info .time_info .level {
	float: left;
	padding-left: 45px
}
.event_info .info_text {
	color: #5E5E5E;
	font-size: 14px;
	height: 250px;
	overflow: hidden;
	position: relative
}
.event_info .info_text:after {
	content: '';
	width: 100%;
	height: 30%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(112, 112, 112, 0);
	backgraound: -moz-linear-gradient(180deg, rgba(112, 112, 112, 0)0, rgba(233, 233, 233, .7)71%);
	background: -webkit-linear-gradient(180deg, rgba(112, 112, 112, 0)0, rgba(233, 233, 233, .7)71%);
	background: -o-linear-gradient(180deg, rgba(112, 112, 112, 0)0, rgba(233, 233, 233, .7)71%);
	background: -ms-linear-gradient(180deg, rgba(112, 112, 112, 0)0, rgba(233, 233, 233, .7)71%);
	background: linear-gradient(180deg, rgba(112, 112, 112, 0)0, rgba(233, 233, 233, .7)71%)
}
.event_info .info_text p {
	margin-bottom: 20px;
	line-height: 1.6em
}
.event_info .info_text .bold {
	color: #000
}
.event_info .info_more {
	text-align: center;
	position: relative;
	margin: 25px 0
}
.event_info .info_more:before {
	content: "";
	position: absolute;
	height: 1px;
	background: #d2d2d2;
	width: 100%;
	top: 50%;
	left: 0
}
.event_info .info_more a {
	background: #d2d2d2;
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 2;
	line-height: 1.3em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #989898
}
.event_address {
	padding: 25px 0
}
.event_address .adr, .event_address .blank {
	margin-left: 10px
}
.event_address .map_wrap {
	margin: 40px 0;
	border: 1px solid #8b8b8b;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden
}
.info_text.active {
	height: auto
}
.info_text.active:after {
	display: none
}
.blank, .adr, .phone_i, .mail_i {
	position: relative;
	padding-left: 30px;
	color: #5E5E5E;
	font-size: 14px;
	margin-bottom: 20px
}
.blank a, .adr a, .phone_i a, .mail_i a {
	color: #5e5e5e
}
.blank span, .adr span, .phone_i span, .mail_i span {
	color: #000
}
.blank:before, .adr:before, .phone_i:before, .mail_i:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../images/all.png) no-repeat;
	background-position: -235px -154px
}
.contacts_info .title {
	font-size: 20px;
	color: #000;
	text-decoration: underline;
	margin: 28px 0 18px 28px
}
.blank:before {
	background-position: 0px 0px;
}
.phone_i:before {
	width: 18px;
	background-position: 1px -251px
}
.mail_i:before {
	background-position: -17px -249px
}
.p20 {
	padding: 20px 0
}
.video_archive .video_block {
	margin: 20px 0
}
.contacts_section .map_wrap {
	margin-bottom: 50px
}
.contacts_section .contacts_info {
	margin: 0 0 0 40px
}
.gallery_section .event_card {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto
}
.gallery_section .event_card .event_title a {
	font-size: 16px
}
.events_filter {
	display: inline-block;
	width: 100%;
	margin: 30px 0 20px
}
.events_filter .filter_route {
	float: left
}
.events_filter label {
	color: #012837;
	font-size: 19px;
	float: left
}
.events_filter .jq-checkbox {
	float: left
}
.events_filter .filter_grade {
	text-align: right
}
.events_filter .filter_grade select {
	float: left
}
.events_filter .btn {
	width: 170px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 25px
}
.about_rating {
	padding-top: 10px
}
.about_rating h2 {
	margin-bottom: 15px
}
.past_events .event_card {
	opacity: .5
}
.rating_banner {
	background: url(../images/rating.png) no-repeat right 5px #00aef0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding: 40px;
	margin-bottom: 60px
}
.rating_banner p {
	font-size: 14px;
	line-height: 1.6em;
	margin-top: 5px
}
.rating_banner .title {
	text-transform: uppercase;
	font-family: SegoeUIBold;
	font-size: 20px
}
.rating_banner .btn_white {
	height: 60px;
	padding: 0 30px;
	line-height: 60px;
	width: 370px;
	max-width: 100%;
	margin: 145px 0 25px 25px;
	display: block
}
.btn_white {
	font-family: SegoeUISemiBold;
	font-size: 18px;
	color: #FFF;
	border: 2px solid #fff;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.btn_white:hover {
	background: #0082AA;
	border-color: #0082AA;
	color: #fff
}
.travel_img {
	max-width: none;
	right: 50px;
	position: absolute;
	top: 30px
}
.raffle_prizes {
	background: #DBDBDB;
	overflow: hidden;
	padding-bottom: 45px
}
.raffle_prizes p {
	font-size: 14px;
	line-height: 1.6em;
	color: #666;
	margin-bottom: 20px
}
.raffle_prizes .title {
	text-transform: uppercase;
	font-size: 20px;
	font-family: SegoeUIBold;
	color: #000;
	margin-top: 20px
}
.raffle_prizes .btn {
	width: 370px;
	max-width: 100%;
	margin: 35px 0
}
.btn-lg1 {
	height: 60px;
	line-height: 60px;
	padding: 0 30px
}
.members_block {
	background: url(../images/bg_pattern.png) no-repeat
}
.slider_members.slick-slider {
	margin: 10px 0 55px;
	padding-bottom: 30px
}
.person_card {
	background: #FFF;
	padding: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	max-width: 270px;
	margin: auto;
	text-align: center;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .15)
}
.person_card .img_wrap {
	width: 170px;
	height: 170px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	margin: 10px auto;
	position: relative;
	background: #f1f1f1
}
.person_card p {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 100%
}
.person_card .info {
	padding-top: 10px;
	border-top: 1px solid #e3e3e3;
	margin-top: 30px
}
.person_card .name {
	font-size: 20px;
	font-family: SegoeUIBold;
	color: #00202c;
	margin-bottom: 5px
}
.person_card .status {
	color: #666;
	font-size: 14px;
	margin-bottom: 10px
}
.person_card .date {
	color: #999;
	font-size: 12px
}
.slick-dots li button {
	background: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	width: 20px;
	height: 20px
}
.slick-dots li button:before {
	display: none
}
.slick-dots li.slick-active button {
	background: #00aef0
}
.info_col {
	margin: 15px auto
}
.info_col p {
	font-size: 14px;
	color: #666;
	line-height: 1.6em
}
.info_col .title {
	font-family: SegoeUIBold;
	height: 95px;
	font-size: 20px;
	color: #00202c;
	margin-top: 25px;
	line-height: 1.2em
}
.white_bg {
	background: #FFF;
	padding-bottom: 45px
}
.album_block {
	padding-top: 10px
}
.pattern_bg {
	background: url(../images/bg_pattern.png) no-repeat
}
.prewies_block {
	padding-bottom: 75px
}
.slider-for {
	margin-top: 20px
}
.slider-for img {
	width: 100%;
	margin-bottom: 35px
}
.slider-for figcaption {
	font-size: 20px;
	color: #012837;
	line-height: 1.9em;
	margin-bottom: 10px
}
.slider-for figcaption span {
	font-size: 21px;
	margin-right: 5px
}
.mfp-counter {
	display: none
}
.slider-nav {
	max-width: 1090px;
	margin: 5px auto;
	padding: 0 25px
}
.slider-nav img {
	margin: auto
}
.slider-nav .slick-arrow {
	position: absolute;
	top: 40%;
	color: #00aef0;
	font-size: 42px;
	cursor: pointer
}
.slider-nav .slick-arrow.prev {
	left: 0
}
.slider-nav .slick-arrow.next {
	right: 0
}
.reg_top {
	margin-bottom: 10px;
	min-height: 80px
}
.reg_top li a {
	color: #999;
	font-size: 30px;
	border-bottom: 2px dashed #999;
	margin: 0 20px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.reg_top li a:hover {
	color: #012837;
	border-color: #012837
}
.reg_top li.active a {
	font-size: 40px;
	color: #012837;
	border-bottom-color: transparent
}
.form_wrap {
	color: #012837;
	padding-bottom: 30px
}
.form_wrap label {
	font-size: 14px;
	margin-top: 10px
}
.form_wrap .title {
	font-family: SegoeUIBold;
	font-size: 18px;
	margin-bottom: 20px
}
.form_wrap .line.checkbox_wrap {
	margin-bottom: 5px
}
.form_wrap .line.checkbox_wrap label {
	color: #999;
	font-size: 14px
}
.form_wrap .line.checkbox_wrap label a {
	color: #999;
	text-decoration: underline
}
.form_wrap .line.checkbox_wrap .jq-checkbox {
	top: -3px
}
.form_wrap .form-group {
	margin-bottom: 18px
}
.form_wrap .line {
	margin-bottom: 20px
}
.form_wrap input[type=submit] {
	margin: 23px 0;
	height: 50px;
	line-height: 50px;
	width: 270px;
	max-width: 100%;
}
input.form-control {
	height: 41px
}
.form-control {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}
textarea.form-control {
	height: 165px
}
.attention {
	padding-left: 60px;
	color: #5E5E5E;
	font-size: 14px;
	position: relative;
	padding-top: 15px;
	margin-bottom: 40px
}
.attention:before {
	content: '';
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0;
	left: 0;
	background: url(../images/attention.png) no-repeat center left
}
input[type=file].inputfile {
	display: none
}
.file_wrap label {
	padding-left: 0;
	margin-bottom: 0;
	padding-bottom: 5px
}
.file_wrap * {
	color: #00202c
}
.file_wrap .btn {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #D8D8D8;
	margin-right: 10px
}
.file_wrap p {
	font-size: 12px;
	color: #999
}
.feedback_form form {
	max-width: 1030px;
	margin: auto
}
.feedback_form .attention {
	position: absolute;
	right: 10px;
	top: 0;
	padding-top: 0;
	max-width: 422px
}
.modal .form-control {
	border: 1px solid #ededed
}
.modal .form_wrap input[type=submit] {
	margin-bottom: 0
}
aside .title1 {
	text-align: center
}
aside .news_card {
	text-align: left
}
.news_single {
	color: #012837
}
.news_single h2 {
	text-align: center
}
.news_single p {
	line-height: 1.7em;
	margin-bottom: 15px
}
.news_single img {
	margin-top: 30px;
	margin-bottom: 30px
}
.news_single ul, .news_single ol {
	margin-left: 50px;
	margin-top: 35px;
	margin-bottom: 35px
}
.news_single ul li, .news_single ol li {
	margin-bottom: 15px;
	line-height: 1.7em
}
.news_single .list_checked {
	margin-left: 80px
}
.list_checked li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px
}
.list_checked li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(../images/check.png) no-repeat
}
.mt20 {
	margin-top: 20px
}
.mb20 {
	margin-bottom: 20px
}
.title1 {
	font-size: 30px;
	color: #00202c;
	margin-top: 25px
}
.modal_custom .modal-content {
	background: #f2f2f2
}
.modal_custom .modal-content {
	background: #f2f2f2;
	-webkit-border-radius: 15px;
	border-radius: 15px
}
.modal_custom .modal-content .modal-header {
	border-bottom: none;
	padding-bottom: 0
}
.modal_custom .modal-content .modal-header h2 {
	margin-bottom: 5px
}
.modal_custom .modal-content form label {
	color: #012837;
	font-size: 14px
}
.modal_custom .modal-content form .blue_btn:hover, .modal_custom .modal-content form .blue_btn:focus {
	background: #ffbf06
}
.modal-header .close {
	width: 30px;
	height: 30px;
	opacity: 1;
	background: url(../images/esc.png) no-repeat
}
.jq-checkbox.checked .jq-checkbox__div {
	margin-left: 7px
}
.focus-jfilestyle {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #00aef0;
	padding: 0 10px;
	color: #FFF;
	margin-right: 8px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	display: inline-block;
	height: 38px
}
.focus-jfilestyle:hover {
	background: #009ddf
}
.jfilestyle input {
	font-size: 12px;
	background: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	opacity: .7
}
.my_card{
	background: url(../images/banner1_bg.png) no-repeat top center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    padding: 40px 90px;
	    display: inline-block;
	    -webkit-border-radius: 5px;
	            border-radius: 5px;
	    margin-bottom: 50px;
}





.rating_card{
	height: 450px;
	position: relative;
	margin-bottom: 30px;
}
.rating_card.gold_cup .cup_label{
	background: url(../images/cup1.png) no-repeat;
}

.rating_card.silver_cup .cup_label{
	background: url(../images/cup2.png) no-repeat;
}

.rating_card.bronze_cup .cup_label{
	background: url(../images/cup3.png) no-repeat;
}
.cup_label{
	width: 43px;
	height: 43px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: red;	
}
.rating_card.event_card1 .title1{
	font-size: 20px;
	font-family: SegoeUILight;
}
.rating_card.event_card1 .title1 span{
	font-family: SegoeUILight;
	font-size: 58px;
}
.rating_card .img_wrap{
	height: 160px;
	width: 160px;
}
.rating_card .img_wrap img{
	/*min-width: 100%;
	min-height: 100%;*/
}
.apprentice_info{
	position: relative;
	padding-top: 15px;
	margin-top: 30px;
	
}
.my_card .rating_card{
	margin-bottom: 5px;
}
.apprentice_info:before{
	content: "";
	position: absolute;
	width: 60%;
	left: 20%;
	height: 1px;
	background: #999;
	top: 0;
	opacity: 0.4;
}
.apprentice_info p{
	margin-bottom: 10px;
}
.apprentice_info .name{
	font-size: 24px;
	color: #012837;
	font-family: SegoeUIBold;
}
.apprentice_info .user_id{
	font-size: 16px;
	color: gray;
	margin-top: -15px;
}
.apprentice_info .balls{
	font-size: 14px;
	color: #666;
}
.apprentice_info .date{
	color: #999;
	font-size: 14px;
}
.noprize_list .rating_card{
	height: 350px;
	width: 270px;
	max-width: 100%;
	padding: 25px 20px 0;
}
.noprize_list{
	margin-top: 30px;
	margin-bottom: 30px;
}
.noprize_list .rating_card .img_wrap{
	width: 120px;
	height: 120px;
}
.noprize_list .rating_card.event_card1 .title1{
	font-size: 15px;
}
.noprize_list .rating_card.event_card1 .title1 span{
	font-size: 43px;
}
.noprize_list .apprentice_info{
	padding-top: 8px;
	margin-top: 13px;
}
.noprize_list .apprentice_info .name{
	font-size: 16px;
}
.noprize_list .apprentice_info .user_id{
	font-size: 12px;
	margin-top: -10px;
}
.noprize_list .apprentice_info p{
	margin-bottom: 7px;
}
.noprize_list .apprentice_info .balls,
.noprize_list .apprentice_info .date{
	font-size: 11px;
}
.rating_card .wr{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	height: 100%;
}
.rating_content .bg_pattern{
	margin-bottom: -20px;
	padding-bottom: 30px;
}
.rating_content .more_items{
	margin-top: 0;
}

.attainment_block{
	margin-bottom: 50px;
}
.grade_line.cup_line .left p{
	padding-left: 45px;
	position: relative;
	font-size: 18px;
	font-family: SegoeUILight;
	padding-top: 6px
}
.grade_line.cup_line .left p:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: url(../images/cups.png) no-repeat;
	
}
.grade_line.cup_line .left.gold_cup p:before{
	background-position: -10px -58px;
}
.grade_line.cup_line .left.silver_cup p:before{
	background-position: -58px -10px;
}
.grade_line.cup_line .left.bronze_cup p:before{
	background-position: -10px -10px;
}
.jq-selectbox{
	max-width: 315px;
}
.lgrey_bg{
	background: #f1f1f1;
}
.my_events p{
	margin: 10px 0;
	font-size: 18px;
	font-family: SegoeUILight;
}
.my_events p span{
	font-family: SegoeUIBold;
}

.link_icon{
	width: 25px;
	display: inline-block;
	height: 25px;
	margin-right: 10px;
	border-bottom: none !important;
	float: left;
	margin-top: 3px;
}
.sport_icon{
	background: url(../images/blue_star.png) no-repeat center center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.culture_icon{
	background: url(../images/green_star.png) no-repeat center center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.education_icon{
	background: url(../images/yellow_star.png) no-repeat center center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.youth_icon{
	background: url(../images/red_star.png) no-repeat center center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.society_icon{
	background: url(../images/pink_star.png) no-repeat center center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.event_card .event_title.culture_title a:hover  span{
	color: #59a66a;
}
.event_card .education_title.event_title a:hover  span{
	color: #fcd447;
}
.event_card .youth_title.event_title a:hover  span{
	color: #ee4d39;
}
.event_card .society_title.event_title a:hover  span{
	color: #ed5c91;
}
.filter_grade .jq-selectbox__dropdown{
	text-align: left;
	width: auto;
	min-width: 170px;
}
.gallery_section .event_pic{
	height: 240px;
}
.filter_sport,
.filter_sport .jq-selectbox__select-text{
	background: url(../images/blue_star.png) no-repeat 10px center;
	-webkit-background-size: 15px;
	     -o-background-size: 15px;
	        background-size: 15px;
}
.filter_education,
.filter_education .jq-selectbox__select-text{
	background: url(../images/yellow_star.png) no-repeat 10px center;
	-webkit-background-size: 15px;
	     -o-background-size: 15px;
	        background-size: 15px;
}
.filter_culture,
.filter_culture .jq-selectbox__select-text{
	background: url(../images/green_star.png) no-repeat 10px center;
	-webkit-background-size: 15px;
	     -o-background-size: 15px;
	        background-size: 15px;
}
.filter_youth,
.filter_youth .jq-selectbox__select-text{
	background: url(../images/red_star.png) no-repeat 10px center;
	-webkit-background-size: 15px;
	     -o-background-size: 15px;
	        background-size: 15px;
}
.filter_society,
.filter_society .jq-selectbox__select-text{
	background: url(../images/pink_star.png) no-repeat 10px center;
	-webkit-background-size: 15px;
	     -o-background-size: 15px;
	        background-size: 15px;
}
.filter_select .jq-selectbox li{
	padding-left: 35px;
}
.filter_select .jq-selectbox__select{
	padding-left: 0;
}
.filter_select .jq-selectbox__select-text{
	padding-left: 35px;
}
.news_section .event_card{
	max-width: 470px;
}
.news_section .event_card>a>img{
	height: 470px;
}
.options_block .feedback-button {
	margin: 10px 2px;
}
.feedback-button {
	padding: 3px;
	border-radius: 4px;
	background-color: #fff;
	width: 54px;
	font-family: SegoeUIItalic
}
.feedback-button a.btn {
	margin: 2px 0 0;
	background: 0 0;
	box-shadow: none;
	border: 0;
	color: #919191;
	padding: 0 8px 0 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
.feedback-button a.btn:hover {
	border: 0;
	box-shadow: none;
	color: #00aef0
}
.feedback-button .glyphicon-question-sign {
	font-size: 23px
}
.share {
	font-size: 14px;
}
.share p {
	margin: 10px auto;
}
.share ul {
	margin: 0;
}
table.user_rating th {
	text-align: center;
}
.section-star {
	display: block;
	width: 50px;
	height: 30px;
	position: absolute;
	top: 35px;
	left: 240px;
	background-size: 30px;
}
.noprize_list .section-star {
	z-index: 9999;
	top: 20px;
	left: 195px;
	background-size: 20px;
}

@media (min-width:1200px) {
	.container {
		width: 1200px
	}
}
@media (max-width:1200px) {
	.cabinet_in .person span {
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		display: inline-block
	}
	.event_pic{
		height: 450px;
	}
	.options_block .options ul li {
		margin-right: 0
	}
	.options_block .options ul li a {
		font-size: 18px
	}
	.event_card1 .rating_line span {
		margin: 0 1px
	}
	.event_card1 .rating_line {
		left: 13px
	}
	.soon_card {
		padding: 45px 25px
	}
	.event_card .bottom .place {
		margin-right: 20px;
		min-width: 0;
		max-width: 63%;
	}
	.news_card {
		padding: 15px;
		height: 220px
	}
	.news_card .preview {
		height: 80px
	}
	.news_block .galley_block .left div img {
		max-width: 140px
	}
	.footer_links .phone {
		margin-left: -17px
	}
	.event_info .time_info .time {
		margin-top: 15px;
		float: left
	}
	.events_filter .filter_grade {
		text-align: left
	}
	.events_filter label {
		margin-right: 25px
	}
	.events_filter .filter_grade {
		margin-top: 10px
	}
	.events_filter {
		margin: 10px 0 20px
	}
	.rating_banner {
		-webkit-background-size: 445px;
		-o-background-size: 445px;
		background-size: 445px
	}
	.cabinet_in .person, .cabinet_in .logout {
		margin-top: 1px
	}
	.cabinet_in .logout:after {
		top: 0
	}
	.reg_top li a {
		font-size: 28px
	}
	.reg_top li.active a {
		font-size: 30px
	}
	.news_section .event_card{
		max-width: 450px;
	}
	.news_section .event_card>a>img{
		height: 450px;
	}
}
@media (max-width:991px) {
	header nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 59px;
		width: 100%;
		background: #00202c;
		z-index: 3;
		display: none;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, .5);
		padding: 10px 0 20px
	}
	.event_card .bottom .place{
		width: 100%;
		max-width: none;
		margin-bottom: 5px;
	}
	header nav ul li {
		display: block;
		width: 100%
	}
	header nav ul li a {
		margin: 8px 0
	}
	.stat_sm {
		position: static
	}
	.trigger_menu {
		width: 30px;
		display: inline-block;
		margin-top: 4px;
		cursor: pointer
	}
	.trigger_menu span {
		height: 4px;
		margin: 4px 0;
		display: block;
		width: 100%;
		background: #00aef0;
		-webkit-border-radius: 4px;
		border-radius: 4px
	}
	.cabinet {
		float: right;
		margin-left: 30px
	}
	.cabinet_in .person {
		margin-top: 4px
	}
	.cabinet_in .icon_enter {
		margin-top: 3px
	}
	.options_block .options {
		margin: auto
	}
	.options_block #custom-search-input {
		margin: 10px 70px 10px 0;
	}
	.options_block {
		background-repeat: repeat
	}
	 .card {
		margin-bottom: 30px
	}
	.event_card .event_title {
		padding: 10px 20px
	}
	.event_card .bottom {
		padding: 15px 20px
	}
	.event_pic {
		height: 345px
	}
	.event_card {
		max-width: 570px
	}
	.events_block {
		background-repeat: repeat
	}
	.contacts_section .contacts_info {
		margin: 0
	}
	.contacts_section .map_wrap {
		margin-bottom: 30px
	}
	.contacts_info .title {
		margin-top: 15px
	}
	.event_img {
		max-height: 440px
	}
	.event_info .time_info .time {
		margin-top: 0;
		float: right
	}
	.event_info h2 {
		text-align: center
	}
	.events_filter label {
		font-size: 17px
	}
	.jq-selectbox {
		max-width: 300px
	}
	.rating_banner {
		padding-top: 125px;
		-webkit-background-size: 380px;
		-o-background-size: 380px;
		background-size: 380px;
		text-align: center
	}
	.rating_banner .btn_white {
		margin: 35px auto 10px
	}
	.reg_form label {
		padding: 0
	}
	.reg_top li a {
		font-size: 26px
	}
	.reg_top li.active a {
		font-size: 34px
	}
	.feedback_form .attention {
		position: relative;
		margin-bottom: 20px
	}
	.news_section .event_card{
		max-width: 345px;
	}
	.news_section .event_card>a>img{
		height: 345px;
	}
}
@media (max-width:768px) {
	.cabinet_in .icon_enter {
		margin-right: 0
	}
	/*// .event_pic {
	// 	height: auto
	// }*/
	footer, .social_list, .footer_links {
		text-align: center
	}
	footer .logo {
		max-width: 220px;
		text-align: left;
		margin: 0 auto 20px
	}
	.event_card{
		max-width: 370px;
	}
	.event_pic{
		width: 370px;
	}
	footer .cright, footer .rules {
		max-width: 100%
	}
	.footer_menu {
		margin: 20px 0
	}
	.event_card .bottom .place{
		white-space: normal;
	}
	footer {
		padding: 35px 0 50px
	}
	.video_archive .video_block {
		margin: 20px auto
	}
	.events_filter .btn {
		display: block;
		float: none;
		margin-top: 10px;
		margin-left: 0
	}
	.raffle_prizes {
		text-align: center
	}
	.info_col .title {
		height: auto;
		margin-bottom: 15px
	}
	.slider-for figcaption {
		font-size: 18px
	}
	.reg_form label {
		padding: 0 15px
	}
	.form_wrap {
		max-width: 450px;
		margin: auto
	}
	.form_wrap .form-group {
		margin-bottom: 8px
	}
	.form_wrap .title {
		margin: 15px 0 10px
	}
	.reg_top {
		margin-bottom: 35px
	}
	.reg_top li a {
		margin: 0 5px
	}
	.reg_top li a {
		font-size: 22px
	}
	.reg_top li.active a {
		font-size: 24px
	}
	.attention {
		padding-top: 5px
	}
	.feedback_form .attention {
		margin: 15px 0 10px 10px
	}
	.reg_banner .text {
		max-width: 100%
	}
	.reg_banner {
		padding: 35px 10px 40px
	}
	.news_single ul, .news_single ol {
		margin-left: 10px
	}
	.news_single .list_checked {
		margin-left: 40px
	}
	.reg_top {
		min-height: 0
	}
}
@media (max-width:579px) {
	header .logo {
		width: 100%;
		float: none
	}
	header .col-xs-5, header .col-xs-6, .news_block .col-xs-6, 
	.news_section .col-xs-6,
	.noprize_list .col-xs-6 {
		width: 100%;
		float: none
	}
	header .text-right {
		text-align: center;
		position: static
	}
	.trigger_menu {
		position: absolute;
		right: 15px;
		margin-top: 10px;
		top: 0
	}
	.cabinet {
		margin-top: 8px
	}
	.cabinet_in .icon_enter {
		margin-bottom: 0
	}
	.options_block .options ul li a {
		display: inline-block;
		margin-bottom: 10px
	}
	.options_block .options ul .event_li a:before {
		background-position: -102px -151px
	}
	.options_block .options ul .profile_li a:before {
		background-position: -4px -200px
	}
	.event_card .bottom p {
		margin-bottom: 5px
	}
	.video_block .video_description .play {
		width: 90px;
		height: 90px;
		background-position: -5px -6px;
		background-size: 210px;
		margin-bottom: 10px
	}
	.news_block .galley_block .left {
		width: 100%
	}
	.news_block .galley_block .right {
		display: none
	}
	.news_card {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto
	}
	.news_block .galley_block {
		max-width: 330px
	}
	header nav {
		top: 56px
	}
	h2 {
		margin-bottom: 15px;
		font-size: 32px
	}
	.more_items {
		margin: 25px 0 0
	}
	.map_wrap {
		height: 270px;
		overflow: hidden
	}
	.event_img {
		max-height: 300px;
		margin-top: 10px
	}
	.event_section .blue_btn {
		margin: 28px auto 10px
	}
	.event_info .time_info .time {
		margin-top: 15px;
		float: left
	}
	.event_address .map_wrap {
		margin-bottom: 0
	}
	.event_address .map_wrap {
		height: 240px
	}
	.event_address {
		padding-bottom: 0
	}
	.jq-checkbox {
		margin: 0 10px 0 0
	}
	.events_filter label {
		margin-right: 15px
	}
	.rating_banner {
		-webkit-background-size: 280px;
		-o-background-size: 280px;
		background-size: 280px;
		background-position: right 0;
		padding: 25px;
		padding-top: 95px
	}
	.raffle_prizes .title {
		font-size: 18px
	}
	.raffle_prizes .btn {
		margin: 10px auto
	}
	.slider-for figcaption {
		font-size: 17px
	}
	.slider-nav .slick-arrow {
		font-size: 35px
	}
	.slider-nav .slick-arrow.prev {
		left: -10px
	}
	.slider-nav .slick-arrow.next {
		right: -10px
	}
	.slider-nav img {
		height: auto
	}
	.form_wrap .line {
		margin-bottom: 10px
	}
	.form_wrap {
		padding-bottom: 0
	}
	.reg_banner img {
		margin: 15px auto
	}
	.reg_banner .btn_dark {
		margin-top: 10px
	}
	.reg_banner {
		padding: 25px 20px 30px;
		margin: 5px 0
	}
	.news_single img {
		margin-top: 15px;
		margin-bottom: 15px
	}
	p.title1 {
		line-height: 1.2em
	}
	.news_single ul, .news_single ol {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0
	}
	.news_single .list_checked {
		margin-left: 0
	}
	.news_single ol {
		padding-left: 25px
	}
	.modal_custom .form_wrap input[type=submit] {
		margin-top: 10px
	}
	.modal_custom .form_wrap label {
		margin-top: 5px;
		margin-bottom: 3px
	}
	.my_card{
		max-width: 100%;
		padding: 5px 5px;
	}
	.attainment_block {
	    margin-bottom: 20px;
	}
	.reg_banner p.title{
		font-size: 30px;
	}
	.reg_banner .text{
		font-size: 14px;
	}
}

@media screen and (max-width:425px) {
	.form_wrap .line.checkbox_wrap label {
		max-width: 250px;
		padding-left: 0
	}
	.attention {
		padding-top: 0;
		margin-bottom: 25px
	}
	.options_block #custom-search-input {
		margin: 10px auto;
		max-width: 100%;
	}
	.event_card{
		width: 290px;
	}
	.event_pic{
		height: 290px;
	}
	.news_section .event_card{
		max-width: 290px;
	}
	.news_section .event_card>a>img{
		height: 290px;
	}
}